@import '../../../styles/variables.scss';
@import '../../../styles/button.scss';

.good-item-wrap {
  display: flex;
  height: 150px;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
  justify-content: center; /*水平居中*/
  align-items: center; /*垂直居中*/
  background: url('../../../assets/imgs/timg.png') no-repeat;
  background-position: right;
  background-origin: 50px;
  background-size: 150px 120%;
  .flex-c,
  .flex-r {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .flex-l {
    flex: 1;
    text-align: left;
  }
  .flex-c {
    flex: 2;
    text-align: left;
  }
  .flex-r {
    flex: 2;
    text-align: right;
  }

  .image-wrap {
    .image-show {
      width: 100px;
      height: 100px;
    }
  }

  .price-wrap {
    color: $info-color;
  }
}
