/* card卡片与list自定义样式 ，使用参考“我的”页面*/

/* AtList 的样式和UI有差距，所以自定义AtList效果 */

@import './variables.scss';
// card-wrap 无margin和shadow
.card-wrap,
.card-wrp {
    position: relative; // width: 100%;
    // margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(42, 125, 98, 0.1);
    margin: 20px 32px 0 32px;
    .card {
        position: relative;
        background: rgba(255, 255, 255, 1);
        border-radius: 16px;
    }
    .card-title {
        height: 112px;
        border-bottom: 1px solid #e7e7e7;
    }
    .title-none-border {
        height: 112px;
    }
    .item-title {
        flex: 5;
        .text {
            font-size: 32px;
            font-family: PingFangSC-Medium;
            font-weight: 500;
        }
    }
    .item-content {
        flex: 12;
    }
    .item-text {
        text-align: right;
        height: 28px;
        font-size: 28px;
        font-weight: 400;
        color: rgba(155, 155, 155, 1);
        line-height: 45px;
    }
    .item-details {
        text-align: right;
        color: $info-color;
        font-size: 32px;
        font-weight: 400;
        line-height: 45px;
    }
    .arrow {
        float: right;
        padding-right: 5px;
    }
    .card-list {
        height: 112px;
        padding-left: 20px;
        .list-item {
            flex: 10;
            height: 100%;
            border-bottom: 1px solid #e7e7e7;
        }
        .list-item-noborder {
            flex: 10;
            height: 100%;
        }
        .list-icon {
            flex: 1;
            image {
                width: 32px;
                height: 32px;
            }
        }
        .list-title {
            flex: 7;
            text-align: left;
            .text {
                font-size: 32px;
            }
        }
        .list-content {
            flex: 8;
        }
    }
    .card-footer {
        padding: 0 32px 0 32px;
    }
}

.card-wrap {
    margin: 0;
    box-shadow: none;
}
