@import '../../styles/variables.scss';


.home {
  position: relative;
  background-color: #fff;
  height:100%;
}
.scroll-view-x{
  background-color: rgb(228, 228, 228);
  white-space: nowrap;
  padding-bottom:40px;
  background: url(../../assets/imgs/wave_4x.png) no-repeat;
  background-position:0 80%;
  background-size:100%;
}

.fixed {
  position:fixed;
  z-index:10;
  top:0;
}

.bgc-fff {
  position: fixed;
  top:0;
  left: -50%;
  z-index: 1;
  min-height: 66px;
  width: 1000%;
  background-color: #fff;
}

.title-wrap {
  position: relative;
  z-index: 10;
  min-height: 33px;
  background-color: #fff;
}

.scroll-view-x .scroll-view-item{
  min-width: 50%;
  text-align: center;
  position: relative;
  display:inline-block;
  font-size: 32px;
  line-height: 66px;
  background-color: #fff;
  font-weight: 600;
  .point {
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    bottom: -26px;
  }
}
.scroll-view-item.on{
  color:  $base-color;
  .point {
    visibility: inherit;
  }
}
.good-container {
  padding-top: 80px;
}


.more-loading, .no-more {
  display: block;
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin: 5px auto;
}

.empty-page {
  position:relative;
  margin:0 auto;
  text-align:center;
  top:20%;
  left:50%;
  transform:translate(-50%);
  image {
    width:196px;
    height:158px;
    margin-bottom: 50px;
  }
  .tips {
    font-size: 24px;
  }
}

.notice-bar {

}

.float-btn {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 100px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  background-color: $base-btn-bgc;
  padding: 0;
  .at-icon {
    position: relative;
    top: -5px;
  }
}
.list-btn {
  bottom: 200px;
  background-color: $base-color;
}

.search-wrap {
  display: flex;
  position: relative;
  background-color: #fff;
  margin: 10px 30px;
  input {
    height: 60px;
    line-height: 60px;
    padding-left: 45px;
    font-size: 24px;
    background: rgba(242,242,242,1);
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 20px 0 0 20px;
  }
  .search-img {
    position: absolute;
    top: 16px;
    left: 10px;
    width: 48px;
    height: 48px;
  }
  .search-bar {
    width: 88%;
  }
  .search-btn {
    width: 12%;
    height: 64px;
    line-height: 64px;
    background-color: $base-color;
    font-size: 24px;
    color: #fff;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

.banner-content {
  padding: 5px 0 20px;
  height: 320px;
  // .banner-item {
  //   width: 80%;
  // }
  .banner-img {
    width: 94%;
    height: 100%;
    margin: 0 3%;
    border-radius: 14px;
  }
}
.banner-bottom {
  height: auto;
  text-align: center;
  .bb-img {
    height: 88px;
    padding: 10px 50px;
  }
}
